.presentationContaine{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    height: 300px;
}
.presentation{  
    
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    
    
}

.avatarcontainer {
    display: flex;
    flex-direction: column;
}

.imgcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    
    
}

.paragraph{
    
    font-size: 30px;
    font-weight: 700;
    color: #7B7B7B;

    

}

.span{    
    font-size: 30px;
    font-weight: 700;
    color: #00F0FF
}



.avatar{
    height: 180px;
    border-radius: 50%;
}