.containerStack {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80vw;
}

.stack {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittleStack{
    color: #00F0FF;
    font-size: 40px;
    font-weight: 400;
}

.frontend{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    margin-bottom: 50px;
    
}

.backend{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}


.imgcontainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;    
    gap: 20px;
         
}

.logo{
    width: 150px;
    height: 150px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}