.main{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    
    
}

@media(max-width: 480px) {
    .main{
        width: 95%;
        
    }
}



