.myProjectContainer{
    margin-top: 100px;
}

.myProject{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.card{
    width: 356px;
    height: 380px;   
    border-radius: 5px;
    background: #292929;
    margin-top: 70px;
    padding: 25px 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;


}

.card:hover{
    border: 1px solid #40b0b8;
}

@media(max-width: 480px) {
    .myProjectContainer{
        width: 100%;
        justify-content: center;
        
        
    }
    .card{
        width: 100%;
        justify-content: center;
    }
}


@media(max-width: 768px) {
    .myProject{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 1024px) {
    .myProject{
        display: flex;
        flex-wrap: wrap;
    }
}
